.App {
  text-align: center;
}

html, body {
    background-color: #2b2b2b;
    color: #e6e6e6;
}

body {
    max-width: 900px;
    /* right offset for the sidebar */
    margin: 0 0 0 200px;
    padding: 1.5em;
    padding-top: 0;
}

a {
  color: #00b7ff;
}

a:visited {
  color: #A2708E;
}


td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2;
  color: black;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #A2708E;
  color: white;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
}

.sidebar {
  padding: 0;
  position: absolute;
  left: 0%;
  width: 200px;
  height: 100%;
  background-color: #333;
}

.sidebar header {
  font-size: 18px;
  color: white;
  text-align: center;
  line-height: 70px;
  background-color: #A2708E;
}

.sidebar header a {
  color: white;
}

.sidebar ul a{
  text-align: left;
  display: block;
  height: 100%;
  width: 100%;
  /* line-height: 30px; */
  font-size: 16px;
  color: white;
  box-sizing: border-box;
  border-top: 1px solid gray;
  /* border-bottom: 1px solid white; */
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}


.sidebar li {
  /* padding-left: 10px; */
  list-style-type: none;
}

.sidebar li:hover a{
  background-color: #A2708E;
  /* padding-left: 20px; */
}

form {
  padding: 10px;
  margin: 10px;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    padding: 5px;
    margin: 5px;
}

input {
  display: inline-block;
  float: left;
  padding: 5px;
  margin: 5px;
}
