:root {
  --background: #2b2b2b;
  --foreground: #e6e6e6;
  --grey: #424242;
  --blue: #00b7ff;
  --purple: #A2708E;
}

.App {
  text-align: center;
}

html, body {
    background-color: var(--background);
    color: var(--foreground);
}

body {
    max-width: 900px;
    /* right offset for the sidebar */
    margin: 0 0 0 200px;
    padding: 1.5em;
    padding-top: 0;
}

a {
  color: var(--blue);
}

a:visited {
  color: var(--purple);
}

table {
  /* padding: 10px; */
  margin: 10px;
  border: 2px solid var(--blue);
}

td, th {
  /* border: 1px solid #ddd; */
  padding: 8px;
}

tr:nth-child(even){
  background-color: var(--grey);
  /* color: black; */
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #A2708E;
  color: white;
}

.table-container {
  width: 100%;
  overflow-x: scroll;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
}

.sidebar {
  padding: 0;
  position: absolute;
  left: 0%;
  width: 200px;
  height: 100%;
  background-color: #333;
}

.sidebar header {
  font-size: 18px;
  color: white;
  text-align: center;
  line-height: 70px;
  background-color: #A2708E;
}

.sidebar header a {
  color: white;
}

.sidebar ul a{
  text-align: left;
  display: block;
  height: 100%;
  width: 100%;
  /* line-height: 30px; */
  font-size: 16px;
  color: white;
  box-sizing: border-box;
  border-top: 1px solid gray;
  /* border-bottom: 1px solid white; */
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}


.sidebar li {
  /* padding-left: 10px; */
  list-style-type: none;
}

.sidebar li:hover a{
  background-color: #A2708E;
  /* padding-left: 20px; */
}

form {
  padding: 10px;
  margin: 10px;
}

label{
    display: inline-block;
    /* float: left; */
    clear: left;
    width: 200px;
    text-align: left;
    padding: 5px;
    margin: 5px;
}

input {
  /* display: inline-block; */
  /* float: left; */
  padding: 5px;
  margin: 5px;
}


button {
  border-radius: 4%;
  background-color: #A2708E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button#AddAnother{
  background-color: #A2708E;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.container {
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
}

.containerblock {
    max-width: 350px ;
    text-align: center ;
    padding-left: 10px ;
    padding-right: 10px ;
}

.multicolumn {
  column-count: 2;
  column-gap: 20px;
  column-width: 200px;
  width: 80%;
  margin: auto;
}
